<!doctype html>
<html lang="en">

<head>
    {{>header}}
</head>

<body>
    <!-- HEADER SECTION -->
    {{>navbar}}


    <!-- HERO SECTION -->
    <div class="container-fluid main-hero">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 hero-right align-items-center">
                        <figure>
                            <img src="/img/about.png" alt="kabir" class="img-fluid" , title="kabir">
                        </figure>
                    </div>

                    <div class="col-md-6 col-12 hero-left">
                        <p>Hello, I'm <span class="span-color"> Kabir </span></p>
                        <h1>I'm A <span class="span-color"> Web Developer, </span> Basically A Frontend Developer</h1>
                        <a href="https://github.com/Kabir-786" target="_blank"><button>About Me</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- FOOTER SECTION -->
    {{>footer}}

</body>

</html>